body {
  font-family: monospace;
  background-color:black;
  color:white;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

canvas {
  border-color: white;
  border-width: 10rem;
}

#navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: white;
}

.characters {
  width: 200px;
  height: 200px;
  border: 2px solid whitesmoke;
}

#accountHeader {
  display:flex;
  justify-content: space-around;
}