@font-face {
  font-family: "Retro Computer";
  src: url("fonts/retro_computer_personal_use-webfont.eot") format("eot"),
    url("fonts/retro_computer_personal_use-webfont.woff") format("woff"),
    url("fonts/retro_computer_personal_use-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Retro Computer;
  background-image: url("/spritesPixelAdventure/assets/metalTileScrewed.png");
  background-repeat: repeat;
  background-size: 10px 10px;
  color: white;
  text-align: center;
  text-shadow: -2px 1px 0px rgba(150, 150, 150, 1);
}

hr {
  height: 1px;
  background: white;
  margin-bottom: 75px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.canvas {
  border-color: white;
  border-width: 10rem;
  box-shadow: "-14px 14px 0px -3px rgba(0,0,0,0.5)";
}

.menubuttons {
  padding: 10px 15px;
  border-radius: 3px;
  background: rgb(26, 119, 65);
  background: linear-gradient(
    0deg,
    rgba(26, 119, 65, 1) 0%,
    rgba(40, 180, 99, 1) 5%,
    rgba(40, 180, 99, 1) 95%,
    rgba(108, 255, 169, 1) 100%
  );
  box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}

.menubuttons:hover {
  background: rgb(26, 119, 65);
  background: linear-gradient(
    0deg,
    rgba(26, 119, 65, 1) 0%,
    rgba(40, 180, 99, 1) 5%,
    rgba(40, 180, 99, 1) 95%,
    rgba(108, 255, 169, 1) 100%
  );
  box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.6);
}

.logoutbutton {
  padding: 10px 15px;
  border-radius: 3px;
  background: rgb(119, 26, 26);
  background: linear-gradient(
    0deg,
    rgba(119, 26, 26, 1) 0%,
    rgba(236, 112, 99, 1) 5%,
    rgba(236, 112, 99, 1) 95%,
    rgba(255, 167, 158, 1) 100%
  );
  box-shadow: -3px 3px 0px 0px rgba(0, 0, 0, 0.3);
}

.logoutbutton:hover {
  background: rgb(119, 26, 26);
  background: linear-gradient(
    0deg,
    rgba(119, 26, 26, 1) 0%,
    rgba(236, 112, 99, 1) 5%,
    rgba(236, 112, 99, 1) 95%,
    rgba(255, 167, 158, 1) 100%
  );
  box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.6);
}

#navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: white;
}

.characters {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
  background-color: "rgba(0, 0, 0, 0.2)";
}

.characters:hover {
  box-shadow: -5px 5px 0px 1px #000000;
  background-color: "rgba(0, 0, 0, 0.5)";
}

#accountHeader {
  display: flex;
  justify-content: space-around;
}
