@font-face {
  font-family: "Retro Computer";
  src: url("fonts/retro_computer_personal_use-webfont.eot") format("eot"),
    url("fonts/retro_computer_personal_use-webfont.woff") format("woff"),
    url("fonts/retro_computer_personal_use-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: Retro Computer;
  background-image: url("/spritesPixelAdventure/assets/metalTileScrewed.png");
  background-repeat: repeat;
  background-size: 10px 10px;
  color: white;
  text-align: center;
  text-shadow: -2px 1px 0px rgba(150, 150, 150, 1);
}

hr {
  height: 1px;
  background: white;
  margin-bottom: 75px;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

canvas {
  border-color: white;
  border-width: 10rem;
}

#navdiv {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

a {
  color: white;
}

.characters {
  width: 150px;
  height: 150px;
  padding: 20px;
  border: 2px solid white;
  border-radius: 10px;
}

.characters:hover {
  box-shadow: -5px 5px 0px 1px #000000;
}

#accountHeader {
  display: flex;
  justify-content: space-around;
}
